<%- include('../layout') %>
<h2>My Loans</h2>
<table class="table table-bordered">
  <thead>
    <tr><th>Title</th><th>Publisher</th><th>Loan Date</th><th>Due Date</th><th>Return Date</th><th>Action</th></tr>
  </thead>
  <tbody>
    <% loans.forEach(l => { %>
      <tr>
        <td><%= l.title %></td>
        <td><%= l.publisher %></td>
        <td><%= l.loan_date %></td>
        <td><%= l.due_date %></td>
        <td><%= l.return_date || '-' %></td>
        <td>
          <% if (!l.return_date) { %>
            <a href="/library/loans/return/<%= l.id %>" class="btn btn-sm btn-warning">Return</a>
          <% } %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
